@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans:wght@400;600;700&family=Marck+Script&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(235deg, 21%, 11%);
  font-family: "Josefin Sans", sans-serif;
  overflow: hidden;
  color: hsl(236deg, 33%, 92%);
}

input {
  accent-color: hsl(234deg, 39%, 85%);
}

input[type=text],
textarea {
  background-color: hsl(235deg, 24%, 19%);
  color: hsl(236deg, 33%, 92%);
  font-family: inherit;
  padding: 1rem;
  margin-top: 1rem;
  width: 100%;
  border: none;
  transition: all 450ms ease-in-out;
}
input[type=text]:focus,
textarea:focus {
  outline: 2px solid hsl(220deg, 98%, 61%);
}

textarea {
  resize: none;
}

input[type=radio] {
  margin-right: 1rem;
  accent-color: hsl(235deg, 21%, 11%);
}

button {
  margin-top: 1.5rem;
  margin-inline: auto;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.6rem 1rem;
  background-color: hsl(235deg, 24%, 19%);
  color: hsl(236deg, 33%, 92%);
  font-family: inherit;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}
button:hover {
  transform: scale(0.95);
}
button:active {
  transform: scale(0.98);
}

.copyrightText {
  background: linear-gradient(hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: hsl(234deg, 39%, 85%);
}

.header {
  background: linear-gradient(hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  animation: slide-down 450ms ease-in-out 1 normal;
  min-height: 17vh;
}
.header__title {
  align-self: flex-end;
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: hsl(234deg, 39%, 85%);
  transition: all 250ms ease-in-out;
}
@keyframes slide-down {
  0% {
    transform: translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.sideBar {
  display: flex;
  flex-direction: column;
  background-color: hsl(235deg, 24%, 19%);
  gap: 1rem;
  grid-column: 1/2;
  grid-row: 1/3;
  border-right: 1px solid hsl(236deg, 33%, 92%);
  padding: 1rem 1rem 0 1rem;
  animation: slide-in 450ms ease-in-out 1 normal;
}
@media (max-width: 1160px) {
  .sideBar {
    gap: 0.5rem;
    font-size: 0.75rem;
  }
}
@keyframes slide-in {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.sideBar .active {
  background: hsl(235deg, 21%, 11%);
  color: hsl(234deg, 39%, 85%);
}
.sideBar__title {
  background: linear-gradient(hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: hsl(234deg, 39%, 85%);
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 2rem;
}
.sideBar__upper {
  margin-top: 1rem;
  border-bottom: 1px solid hsl(236deg, 33%, 92%);
}
.sideBar__tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.85rem 0.3rem;
  padding-right: 1rem;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  animation: slide-in 350ms ease-in-out 1 normal;
}
.sideBar__tab:hover {
  background: hsl(235deg, 21%, 11%);
  color: hsl(234deg, 39%, 85%);
}
.sideBar__tab .delIcon {
  height: 25px;
  transition: inherit;
}
.sideBar__tab .delIcon:hover {
  opacity: 0.8;
}
.sideBar__project {
  border-bottom: 1px solid hsl(236deg, 33%, 92%);
  max-height: 15rem;
  overflow: auto;
  transition: all 200ms ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.sideBar__project::-webkit-scrollbar {
  width: 7px;
}
.sideBar__project::-webkit-scrollbar-track {
  border-radius: 5px;
  background: hsl(234deg, 39%, 85%);
}
.sideBar__project::-webkit-scrollbar-thumb {
  background-color: hsl(235deg, 21%, 11%);
  border-radius: 5px;
}
.sideBar__addProject {
  cursor: pointer;
  margin: 1.5rem 0 0.5rem;
  transition: all 200ms ease-in-out;
}
.sideBar__addProject:hover {
  color: #22d3ee;
}

.listContainer {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  position: relative;
  background-color: hsl(235deg, 24%, 19%);
  grid-template-rows: 6fr 1fr;
  z-index: 0;
  max-height: 66vh;
  animation: slide-up 450ms ease-in-out 1 normal;
}
@keyframes slide-up {
  0% {
    transform: translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.listContainer__lists {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
  transition: all 150ms ease-in-out;
  max-height: 65vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.listContainer__lists::-webkit-scrollbar {
  width: 7px;
}
.listContainer__lists::-webkit-scrollbar-track {
  background: hsl(234deg, 39%, 85%);
}
.listContainer__lists::-webkit-scrollbar-thumb {
  background-color: hsl(235deg, 21%, 11%);
  border-radius: 5px;
}
.listContainer__listItem {
  position: relative;
  background-color: hsl(235deg, 21%, 11%);
  display: grid;
  grid-template-columns: 0.3fr 4fr 0.5fr 1.6fr 0.5fr 0.5fr;
  align-items: center;
  padding: 0.7rem;
  gap: 1rem;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 4px;
  transition: all 150ms ease-out;
  animation: slide-left 450ms ease-in-out 1 normal;
}
@media (max-width: 1160px) {
  .listContainer__listItem {
    padding: 0.3rem;
    font-size: 0.7rem;
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(500px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.listContainer__listItem input {
  cursor: pointer;
}
.listContainer__listItem p {
  justify-self: start;
  max-width: 60%;
}
.listContainer__listItem .editIcon, .listContainer__listItem .delIcon, .listContainer__listItem .taskDetails {
  cursor: pointer;
  font-size: inherit;
  transition: all 150ms ease-out;
}
.listContainer__listItem .editIcon:hover, .listContainer__listItem .delIcon:hover, .listContainer__listItem .taskDetails:hover {
  opacity: 0.7;
}
.listContainer__listItem .editIcon {
  height: 25px;
  justify-self: end;
}
.listContainer__listItem .delIcon {
  height: 25px;
  justify-self: center;
}
.listContainer__listItem .dateContainer {
  justify-self: center;
  padding: 0.5rem;
}
.listContainer__listItem .dateContainer p {
  font-size: inherit;
  max-width: 7rem;
}
.listContainer__listItem .taskDetails {
  right: 15rem;
  top: 0.7rem;
  font-size: 0.9rem;
  border: 1px solid hsl(220deg, 98%, 61%);
  padding: 0.5rem;
}
.listContainer__addTask {
  position: relative;
}
.listContainer__addTask__addBtn {
  background: hsl(236deg, 33%, 92%);
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.listContainer__addTask__addBtn:hover {
  opacity: 0.8;
  transform: scale(0.95) rotate(90deg);
  background-color: hsl(234deg, 39%, 85%);
}
.listContainer__createTaskModal {
  position: absolute;
  display: none;
  flex-direction: column;
  background: hsl(235deg, 21%, 11%);
  max-height: 50vh;
  width: 30vw;
  padding: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  top: 2rem;
  left: 12.5rem;
  z-index: 1;
  animation: pop-up 200ms ease-in-out 1 normal;
}
.listContainer__createTaskModal div {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
@media (max-width: 1450px) {
  .listContainer__createTaskModal {
    left: 9rem;
  }
}
.listContainer__createProjectModal {
  position: absolute;
  margin-inline: auto;
  display: none;
  flex-direction: column;
  background: hsl(235deg, 21%, 11%);
  height: 22.5vh;
  width: 22.5vw;
  padding: 1rem;
  top: 7.5rem;
  left: 17.5rem;
  z-index: 1;
  animation: pop-up 200ms ease-in-out 1 normal;
}
@media (max-width: 1450px) {
  .listContainer__createProjectModal {
    left: 12rem;
  }
}
@keyframes pop-up {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.container {
  display: grid;
  margin-inline: auto;
  height: 85vh;
  width: 70vw;
  max-width: 1800px;
  transform: translateY(9.5%);
  grid-template-columns: 1fr 2.8fr;
  grid-template-rows: 1.15fr 4fr;
}/*# sourceMappingURL=style.css.map */