@use "../utilities" as *;

.container {
	display: grid;
	margin-inline: auto;
	height: 85vh;
	width: 70vw;
	max-width: 1800px;
	transform: translateY(9.5%);
	grid-template-columns: 1fr 2.8fr;
	grid-template-rows: 1.15fr 4fr;

	@media (max-width: 900px) {
		grid-template-columns: 1fr;
		grid-template-rows: 0.5fr 6fr;
		transform: translateY(7.5%);
		height: 85vh;
		width: 90vw;
	}
}
