@use "../utilities" as *;

.container {
	display: grid;
	background: $VeryDarkDesaturatedBlue;
	margin-inline: auto;
	height: 85vh;
	width: 70vw;
	transform: translateY(9.5%);
	grid-template-columns: 1fr 2.8fr;
	grid-template-rows: 1.15fr 4fr;
}
