@use "../utilities" as *;

.header {
	background: $CheckBackground;
	grid-column: 2/3;
	grid-row: 1/2;
	display: flex;
	animation: slide-down 450ms ease-in-out 1 normal;

	&__title {
		align-self: flex-end;
		margin-left: 2rem;
		margin-bottom: 1rem;
		font-size: 2rem;
		// letter-spacing: 1px;
		font-weight: 700;
		color: $LightGrayishBlueHover;
		transition: all 250ms ease-in-out;
	}
	@keyframes slide-down {
		0% {
			transform: translateY(-500px);
			opacity: 0;
		}
		40% {
			opacity: 0;
		}
		100% {
			transform: translateY(0);
			opacity: 1;
		}
	}
}
