@use "../utilities" as *;

.listContainer {
	grid-column: 2/3;
	grid-row: 2/3;
	background-color: $VeryDarkDesaturatedBlue;
	display: grid;
	grid-template-rows: 6fr 1fr;
	animation: slide-up 450ms ease-in-out 1 normal;
	@keyframes slide-up {
		0% {
			transform: translateY(500px);
			opacity: 0;
		}
		40% {
			opacity: 0;
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
	&__lists {
		padding: 1rem 2rem;
	}
	&__listItem {
		background-color: $VeryDarkBlue;
		display: flex;
		align-items: baseline;

		padding: 1rem;
		margin-top: 0.5rem;
		gap: 2rem;
		p {
			align-self: center;
		}
	}
	&__addTask {
		position: relative;
		&__addBtn {
			background: $LightGrayishBlue;
			position: absolute;
			top: 1rem;
			right: 1.5rem;
			height: 50px;
			width: 50px;
			border-radius: 50%;
			cursor: pointer;
			transition: all 150ms ease-in-out;
			&:hover {
				transform: scale(0.95);
				background-color: $LightGrayishBlueHover;
			}
		}
	}
}
