@use "../utilities" as *;

.listContainer {
	grid-column: 2/3;
	grid-row: 2/3;
	display: grid;
	position: relative;
	background-color: $VeryDarkDesaturatedBlue;
	grid-template-rows: 6fr 1fr;
	z-index: 0;
	animation: slide-up 450ms ease-in-out 1 normal;
	@keyframes slide-up {
		0% {
			transform: translateY(500px);
			opacity: 0;
		}
		40% {
			opacity: 0;
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
	&__lists {
		padding: 1rem 2rem;
		transition: all 150ms ease-in-out;
	}
	&__listItem {
		position: relative;
		background-color: $VeryDarkBlue;
		display: flex;
		align-items: baseline;
		padding: 1.2rem;
		margin-top: 0.5rem;
		max-height: 6vh;
		// font-size: calc(1rem + 0.08vw);
		// font-size: 1rem;
		text-overflow: ellipsis;
		gap: 2rem;
		// cursor: pointer;
		transition: all 150ms ease-out;
		animation: slide-left 450ms ease-in-out 1 normal;

		@keyframes slide-left {
			0% {
				transform: translateX(500px);
				opacity: 0;
			}
			50% {
				opacity: 0;
			}
			100% {
				opacity: 1;
				transform: translateX(0);
			}
		}
		input {
			cursor: pointer;
		}
		p {
			// align-self: center;
			max-width: 60%;
		}
		& .editIcon,
		& .delIcon,
		& .taskDetails {
			position: absolute;
			cursor: pointer;
			transition: all 150ms ease-out;
			&:hover {
				opacity: 0.7;
			}
		}
		& .editIcon {
			height: 25px;
			top: 0.85rem;
			right: 4rem;
		}
		& .delIcon {
			height: 25px;
			right: 1rem;
			top: 0.85rem;
		}
		& .dateContainer {
			position: absolute;
			right: 8rem;
			top: 0.8rem;
			width: fit-content;
			// border: 1px solid $BrightBlue;
			padding: 0.5rem;
			p {
				font-size: 0.9rem;
				max-width: 7rem;
			}
		}
		& .taskDetails {
			right: 15rem;
			top: 0.7rem;
			font-size: 0.9rem;
			border: 1px solid $BrightBlue;
			padding: 0.5rem;
		}
	}
	&__addTask {
		position: relative;
		&__addBtn {
			background: $LightGrayishBlue;
			position: absolute;
			top: 1rem;
			right: 1.5rem;
			height: 50px;
			width: 50px;
			border-radius: 50%;
			cursor: pointer;
			transition: all 200ms ease-in-out;
			&:hover {
				opacity: 0.8;
				// transform: scale(0.95);

				transform: scale(0.95) rotate(90deg);
				background-color: $LightGrayishBlueHover;
			}
		}
	}
	&__createTaskModal {
		position: absolute;
		display: none;
		flex-direction: column;
		background: $VeryDarkBlue;
		max-height: 45vh;
		width: 30vw;
		padding: 1rem;
		box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
			rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
		top: 2rem;
		left: 12.5rem;

		z-index: 1;
		animation: pop-up 200ms ease-in-out 1 normal;
		div {
			margin-top: 1rem;
			display: flex;
			align-items: center;
			gap: 0.3rem;
		}
	}
	&__createProjectModal {
		position: absolute;
		display: none;
		flex-direction: column;
		background: $VeryDarkBlue;
		height: 22.5vh;
		width: 22.5vw;
		padding: 1rem;
		top: 7.5rem;
		left: 17.5rem;
		z-index: 1;
		animation: pop-up 200ms ease-in-out 1 normal;
	}
	@keyframes pop-up {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(1);
		}
	}
}
