@use "../utilities" as *;

.sideBar {
	display: flex;
	flex-direction: column;
	background-color: $VeryDarkDesaturatedBlue;
	gap: 1rem;
	grid-column: 1/2;
	grid-row: 1/3;
	border-right: 1px solid $LightGrayishBlue;
	padding: 1rem 1rem 0 1rem;
	animation: slide-in 450ms ease-in-out 1 normal;

	@keyframes slide-in {
		0% {
			transform: translateX(-500px);
			opacity: 0;
		}
		40% {
			opacity: 0;
		}
		100% {
			transform: translateX(0);
			opacity: 1;
		}
	}
	& .active {
		background: $VeryDarkBlue;
		color: $LightGrayishBlueHover;
	}
	&__title {
		background: $CheckBackground;
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
		color: $LightGrayishBlueHover;
		letter-spacing: 2px;
		font-weight: 900;
		font-size: 2rem;
	}

	&__upper {
		margin-top: 1rem;
		border-bottom: 1px solid $LightGrayishBlue;
	}

	&__tab {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.85rem 0.3rem;
		padding-right: 1rem;
		// border-radius: 5px;
		cursor: pointer;
		transition: all 150ms ease-in-out;
		animation: slide-in 350ms ease-in-out 1 normal;
		&:hover {
			background: $VeryDarkBlue;
			color: $LightGrayishBlueHover;
		}
		& .delIcon {
			height: 25px;
			transition: inherit;
			&:hover {
				opacity: 0.8;
			}
		}
	}

	&__project {
		border-bottom: 1px solid $LightGrayishBlue;
		max-height: 15rem;
		overflow: auto;
		transition: all 200ms ease-in-out;
	}
	&__addProject {
		cursor: pointer;
		margin: 1.5rem 0 0.5rem;
		transition: all 200ms ease-in-out;
		&:hover {
			color: $lightAqua;
		}
	}
}
