@use "../utilities" as *;
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $VeryDarkBlue;
	font-family: $baseFontStyle;
	overflow: hidden;
	color: $LightGrayishBlue;
}
input {
	accent-color: $LightGrayishBlueHover;
}

input[type="text"],
textarea {
	background-color: $VeryDarkDesaturatedBlue;
	color: $LightGrayishBlue;
	font-family: inherit;
	padding: 1rem;
	margin-top: 1rem;
	width: 100%;
	border: none;
	transition: all 450ms ease-in-out;
	&:focus {
		outline: 2px solid $BrightBlue;
	}
}
textarea {
	resize: none;
}
input[type="radio"] {
	margin-right: 1rem;
	accent-color: $VeryDarkBlue;
}
button {
	margin-top: 1.5rem;
	margin-inline: auto;
	width: fit-content;
	padding: 0.6rem 1rem;
	background-color: $VeryDarkDesaturatedBlue;
	color: $LightGrayishBlue;
	font-family: inherit;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	transition: all 100ms ease-in-out;
	&:hover {
		transform: scale(0.95);
	}
	&:active {
		transform: scale(0.98);
	}
}
.copyrightText {
	background: $CheckBackground;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	color: $LightGrayishBlueHover;
}
