@use "../utilities" as *;
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: $VeryDarkBlue;
	font-family: $baseFontStyle;
	overflow: hidden;
	color: $LightGrayishBlue;
}
