@use "../utilities" as *;
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: $VeryDarkBlue;
	font-family: $baseFontStyle;
	overflow: hidden;
	color: $LightGrayishBlue;
}
input {
	accent-color: $LightGrayishBlueHover;
}

input[type="text"] {
	background-color: $VeryDarkDesaturatedBlue;
	color: $LightGrayishBlue;
	padding: 1rem;
	margin-top: 1rem;
	width: 100%;
	border: none;
}
button {
	margin-top: 1.5rem;
	margin-inline: auto;
	width: fit-content;
	padding: 0.6rem 1rem;
	background-color: $VeryDarkDesaturatedBlue;
	color: $LightGrayishBlue;
	border: none;
	border-radius: 2px;
	transition: all 100ms ease-in-out;
	&:hover {
		transform: scale(0.95);
	}
	&:active {
		transform: scale(0.98);
	}
}
